/*Custom properties*/
:root{
    --nav-bg-color: #ff6900;
    --footer-bg-color: #1a1a1a;
    --card-bg-color: #e7e6e5;
    --discount-tag-color: #ff0000;
    --sustainability-tag-color: #008000;
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
}

/*Header*/
    /*Nav*/
    nav{
        width: 100%;
        height: 50px;
        /* position: fixed; */
        background-color: var(--nav-bg-color);
    }

    .navbar{
        width: 80%;
        height: 100%;
        margin: auto;
    }

    .navbar.flex{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .nav-item{
        width: calc(100% / 3);
        height: 100%;
        text-align: center;
        padding-top: 14px;
    }

    .nav-item a{
        color: white;
    }

    ul.flex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
    }

    ul.flex li{
        margin: 0 10px 0 10px;
    }

    .nav-item img{
        width: 25%;
    }


/*Main*/
    /*Container*/
    .container{
        width: 80%;
        margin: 0 auto;
        margin-top: 2rem;
    }
        /*Row*/
        .row.flex{
            width: 100%;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }
            /*Column*/
            .col{
                width: calc(100% / 3 - 10px);
                min-width: 230px;
                min-height: 340px;
                margin: 0 5px 50px;
                position: relative;
                background-size: contain;
            }

            .col img{
                max-width: 100%;
                max-height: 100%;
            }
                /*Tags*/
                    .wishlist{
                        width: 40px;
                        height: 40px;
                        padding: 12px 0 0 12px;
                        background-color: white;
                        position: absolute;
                        top: 20px;
                        right: 0;
                    }

                    .wishlist i:hover{
                        color: red;
                    }

                    .shop-tags-list{
                        width: 200px;
                        color: white;
                        position: absolute;
                        bottom: 30px;
                    }

                    .shop-tags-list .shop-tag{
                        padding: 5px 5px;
                        display: inline-block;
                    }

                    .shop-tag.discount{
                        width: calc(100% / 4);
                        background-color: var(--discount-tag-color);
                    }

                    .shop-tag.sustainability{
                        width: calc(100% / 2);
                        background-color: var(--sustainability-tag-color);
                    }